
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f8f8f8;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}
.add-btn {
  background-color: #2c2c2c;
  color: white;
  border: none;
  padding: 12px 26px;
  font-weight: 600;
  border-radius: 8px;

  transition: all 0.25s ease;
}

/* hover effect */
.add-btn:hover {
  background-color: #000;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* click effect */
.add-btn:active {
  transform: translateY(0px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
